body{
    background-color: rgb(255, 236, 128);
    margin: 0;
    .disable{
        display:none !important;
    }
    #alert{
        height: 60px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        &.red{
            color: #fff;
            background-color: rgb(209, 50, 50);
        }
        &.green{
            color: #000;
            background-color: rgb(55, 224, 55);
        }
    }
    h3{
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        margin: 0 !important;
        padding: 20px 0;

    }
    footer{
        width: 98vw;
        background-color: #000;
        color: #fff;
        margin-top: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vw;
    }
}