#divFixed{
    position: fixed;
    top: 10vw;
    left: -54px;
    z-index: 4;
    #contacts{
        display:flex;
        flex-direction: row;
        #contactsButton{
            transition: 1s;
            padding-top: 4px;
            width: 34px;
            height: 34px;
            border-right: 3px solid rgb(97, 64, 20);
            border-top: 3px solid rgb(97, 64, 20);
            border-bottom: 3px solid rgb(97, 64, 20);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(243, 164, 60, 0.7);
            .menuButton{
                width: 30px;
                height: 30px;
            }
        }
        #listContacts{
            display:flex;
            flex-direction: column;
            background-color: rgba(243, 164, 60, 0.7);
            border: 4px solid rgb(97, 64, 20);
            border-radius: 0px 0 5px 0px;
            padding: 3px;
            z-index: 4;
            transition: 1s;
            .logo{
                width: 40px;
                height: 40px;
                margin: 5px 0;
                transition: 0.5s;
                &:hover{
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
    .translateX{
        transform: translateX(54px);
    }
}