header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    #headerSup{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        #triangleNoir{
            clip-path: polygon(100% 0, 0 0, 0 28%);
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
            width: 40vw;
            height: 30vw;
        }
        #imgAvatar{
            width: 30vw;
            height: 40vw;
            margin-left: 20vw;
            background-repeat: no-repeat;
            background-size: contain;
            transition: linear 0.5s;
            z-index: 2;
        }
        #title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50vw;
            height: 30vw;
            background-image: url('../../assets/img/titleBack.png');
            background-size: cover;
            background-repeat: no-repeat;
            h1{
                font-size: 7vw;
                margin: 6vw 0 0 0;
                color: rgb(230, 230, 230);
                text-shadow: 0 1px 0 rgb(0, 0, 0), 0 2px 0 #000000, -1px 3px 0 rgb(0, 0, 0), -1px 4px 0 rgb(0, 0, 0),
                  -2px 5px 0 rgb(0, 0, 0), -2px 6px 0 rgb(0, 0, 0), -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2),
                  -2px 7px 45px rgba(0, 0, 0, 0.4);
                -webkit-transform: perspective(2000px) rotateY(50deg); /* Pour Chrome et Safari */
                -moz-transform: perspective(2000px) rotateY(50deg); /* Pour Mozilla */
                -o-transform: perspective(2000px) rotateY(50deg); /* Pour Opera */
                transform: perspective(2000px) rotateY(50deg);
            }
            #legend{
                font-size: 3vw;
                margin: 0;
                color: rgb(255, 255, 255);
                text-shadow: 0 1px 0 rgb(0, 0, 0), 0 2px 0 #000000, -1px 3px 0 rgb(0, 0, 0), -1px 4px 0 rgb(0, 0, 0),
                  -2px 5px 0 rgb(0, 0, 0), -2px 6px 0 rgb(0, 0, 0), -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2),
                  -2px 7px 45px rgba(0, 0, 0, 0.4);
                -webkit-transform: perspective(2000px) rotateY(50deg); /* Pour Chrome et Safari */
                -moz-transform: perspective(2000px) rotateY(50deg); /* Pour Mozilla */
                -o-transform: perspective(2000px) rotateY(50deg); /* Pour Opera */
                transform: perspective(2000px) rotateY(50deg);
            }
        }
    }
    #headerInf{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #000;
        width: 100vw;
        height: 15vw;
        color: #fff;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
        #picViviane{
            width: 20vw;
            height: 20vw;
            clip-path: polygon(50% 0%, 71% 23%, 98% 35%, 83% 59%, 79% 91%, 50% 84%, 21% 91%, 17% 57%, 2% 35%, 28% 23%);
            background-image: url('../../assets/img/photoProfil.png');
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 3;
        }
        #titleSection{
            width: 40vw;
            font-size: 3vw;
            text-align: center;
        }
    }
    nav{
        width:100vw;
        border-bottom: 1px solid #000;
        ul{
            margin:0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            a{
                text-decoration: none;
                color: #fff;
                li{
                    list-style: none;
                    font-family: 'Press Start 2P', cursive;
                    width: 24.5vw;
                    height:10vw;
                    font-size: 2vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-image: -webkit-linear-gradient(top, rgb(31, 31, 31), #000);
                    text-align: center;
                    border-left: 1px solid #000;
                    border-right: 1px solid #000;
                    &.liDisable{
                        background-image: -webkit-linear-gradient(top, #000, rgb(31, 31, 31));
                        &:hover{
                            background-image: -webkit-linear-gradient(top, rgb(31, 31, 31), #000);
                        }
                    }
                }
            }
        }
    }
}
