#listParcours{
    display: flex;
    flex-direction: column;
    align-items: center;
    .parcours{
        margin: 5vw 2vw 5vw 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        width: 80vw;
        border: 2px solid rgb(77, 50, 9);
        border-radius: 5px;
        position: relative;
        background-color: rgb(255, 250, 230);
        box-shadow: 10px 5px 5px rgb(43, 27, 4);
        .photoParcours{
            position: absolute;
            width: 15vw;
            padding:1vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            text-align: center;
            box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
            transition: 0.5s;
            &.parcours1{
                top: -1vw;
                left: -1vw;
                transform: rotate(10deg);
            }
            &.parcours2{
                bottom:-1vw;
                right: -1vw;
                transform: rotate(-7deg);
            }
            &:hover{
                width: 17vw;
                img{
                    width: 16vw;
                    height: 16vw;
                }
            }
            img{
                margin-top: 1vw;
                width: 14vw;
                height: 14vw;
                transition: 0.5s;
            }
        }
        .contenuParcours{
            display:flex;
            flex-direction: column;
            width: 55%;
            height: 200px;
            padding : 1vw 10vw;
            .titreParcours{
                font-size: 14px;
            }
            .descriptionParcours{
                overflow-y: scroll;
                height:150px;
            }
        }
    }
}
@media screen and (max-width:500px){
    #listParcours{
        .parcours{
            .photoParcours{
                p{
                    display:none;
                }
            }
        }
    }
}