#passionsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
        margin: 0;
        padding: 10px;
        font-size: 20px;
        text-shadow: 2px 0 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255), 0 2px 0 rgb(255, 255, 255),
            -2px 2px 0 rgb(255, 255, 255), -2px 0 0 rgb(255, 255, 255), -2px -2px 0 rgb(255, 255, 255),
            0 -2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255);
        font-size: 25px;
    }
    .back {
        background-color: rgb(240, 218, 26);
        border: 2px solid rgb(65, 45, 10);
        border-radius: 5px;
        height: 50px;
        width: 100px;
        font-size: 20px;
    }
    #ecranJeu {
        margin-top: 20px;
        width: 70%;
        height: 500px;
        border: 4px solid #000;
        border-radius: 5px;
        background-color: #000;
        #ecranTitre {
            margin: 0 auto;
            height: 500px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-image: url('../../assets/img/ecranTitre.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto 100%;
            h3 {
                font-size: 5vw;
                text-shadow: 2px 0 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255), 0 2px 0 rgb(255, 255, 255),
                    -2px 2px 0 rgb(255, 255, 255), -2px 0 0 rgb(255, 255, 255), -2px -2px 0 rgb(255, 255, 255),
                    0 -2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255);
            }
            button {
                width: 200px;
                height: 70px;
                font-size: 30px;
                color: #fff;
                background-image: -webkit-linear-gradient(top, rgb(81, 81, 238), rgb(64, 64, 151));
                border-radius: 25px;
                outline: none;
                border-top: 2px solid rgb(240, 218, 26);
                border-left: 2px solid rgb(240, 218, 26);
                border-right: 2px solid rgb(190, 173, 18);
                border-bottom: 2px solid rgb(190, 173, 18);
                &:hover {
                    border-top: 2px solid rgb(190, 173, 18);
                    border-left: 2px solid rgb(190, 173, 18);
                    border-right: 2px solid rgb(240, 218, 26);
                    border-bottom: 2px solid rgb(240, 218, 26);
                }
            }
        }
        #ecranNavigation {
            background-image: -webkit-linear-gradient(top, rgb(112, 112, 250), rgb(47, 47, 114));
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            ul {
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 80%;
                a {
                    text-shadow: 2px 0 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0),
                        -2px 2px 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), -2px -2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0),
                        2px -2px 0 rgb(0, 0, 0);
                    color: #fff;
                    font-family: "Press Start 2P", cursive;
                    text-decoration: none;
                    li {
                        list-style: none;
                        &:hover {
                            list-style-image: url("../../assets/img/fleche.png");
                        }
                    }
                }
            }
        }
        .ecranTemplate {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 90%;
            .text {
                padding: 15px;
                border: 2px solid rgb(65, 45, 10);
                border-radius: 5px;
                width: 90%;
                height: 120px;
                overflow-y: scroll;
                font-family: "Press Start 2P", cursive;
                font-size: 13px;
                background-image: -webkit-linear-gradient(top, rgba(250, 228, 29, 0.9), rgba(202, 171, 34, 0.9));
            }
        }
        #ecranMondeFafy,
        #ecranJeux,
        #ecranFossiles {
            width: 100%;
            height: 100%;
            animation: cinematic linear 20s both;
            animation-iteration-count: 1;
            background-repeat: no-repeat;

            @keyframes cinematic {
                0% {
                    background-position: left;
                }

                100% {
                    background-position: right;
                }
            }
        }
        #ecranMondeFafy {
            background-image: url("../../assets/img/fresqueMondeFafy.png");
        }
        #ecranJeux {
            background-image: url("../../assets/img/fresqueJeux.png");
        }
        #ecranFossiles {
            background-image: url("../../assets/img/fresqueFossiles.png");
        }
    }
}
