#textPresentation{
    padding: 1vw;
    border: 2px solid rgb(77, 50, 9);
    margin-left : 30px;
    margin-right: 2vw;
    background-color: rgb(255, 250, 230);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 10px 5px 5px rgb(43, 27, 4);

}