#projets {
    #textProjets{
        margin-left: 30px;
        border: 2px solid rgb(77, 50, 9);
        border-radius: 5px;
        padding: 1vw;
        margin-right: 1vw;
        background-color: rgb(255, 250, 230);
        box-shadow: 10px 5px 5px rgb(43, 27, 4);
        margin-bottom: 10px;
    }
    #listProjets {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        .cardProjet {
            position: relative;
            margin: 10px;
            width: 280px;
            height: 350px;
            border-radius: 5px;
            border: 2px solid #000;
            background-color: #fff;
            box-shadow: 10px 5px 5px rgb(77, 50, 9);
            &:hover {
                animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                transform: translate3d(0, 0, 0);
                animation-iteration-count: 1;

                @keyframes shake {
                    10%,
                    90% {
                        transform: translate3d(-1px, 1px, 2px);
                    }
                    20%,
                    80% {
                        transform: translate3d(2px, -2px, 3px);
                    }
                    30%,
                    50%,
                    70% {
                        transform: translate3d(-4px, 3px, -3px);
                    }
                    40%,
                    60% {
                        transform: translate3d(4px, 2px, -4px);
                    }
                }
            }
            h4 {
                margin: 1vw 0;
                font-size: 30px;
                text-align: center;
            }
            .banniereProjet {
                width: 100%;
                height: 150px;
                border-bottom: 1px solid #000;
                img {
                    width: 280px;
                    height: 150px;
                }
            }
            .simplon {
                position: absolute;
                top: -10px;
                left: -10px;
                .logoSimplon {
                    width: 40px;
                    height: 40px;
                }
            }
            .buttons {
                display: flex;
                justify-content: space-evenly;
                a {
                    width: 40%;
                    button {
                        width: 100%;
                        height: 30px;
                        border-radius: 5px;
                        font-size: 15px;
                        &:hover{
                            cursor:pointer;
                        }
                        &.buttonProjet {
                            background-color: rgb(98, 236, 98);
                        }
                        &.buttonGitlabProjet {
                            background-color: rgb(133, 216, 231);
                        }
                    }
                }
            }
            .descriptionProjet {
                padding: 5px;
                overflow-y: scroll;
                height: 90px;
            }
        }
    }
}
