.logoTechno{
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    transition: 0.5s;
    &:hover{
        transform: rotate(30deg);
    }
}
.certif{
    width: 200px;
    height:auto;
    margin: 0 5px;
}
img.sololearn{
    width: 200px;
    height: 115px;
    margin: 0 5px;
}
.listColumn{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        text-align: center;
        margin:5px 0 10px 0;
    }
}
.listRowWrap{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 2vw;
}
.blockTechno{
    border: 2px solid rgb(77, 50, 9);
    border-radius: 5px;
    background-color: rgb(255, 250, 230);
    box-shadow: 10px 5px 5px rgb(43, 27, 4);
    margin: 10px 0;
}
.blockCompetences{
    width: 80%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(39, 39, 39);
    box-shadow: 10px 5px 5px rgb(43, 27, 4);
    margin: 10px 0;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    p{
        margin: 30px 20px;
        &:hover{
            animation: shakeComp 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                transform: translate3d(0, 0, 0);
                animation-iteration-count: 1;

                @keyframes shakeComp {
                    10%,
                    90% {
                        transform: translate3d(-1px, 1px, 2px);
                    }
                    20%,
                    80% {
                        transform: translate3d(2px, -2px, 3px);
                    }
                    30%,
                    50%,
                    70% {
                        transform: translate3d(-4px, 3px, -3px);
                    }
                    40%,
                    60% {
                        transform: translate3d(4px, 2px, -4px);
                    }
                }
        }
    }
}
#technosSection{
    .titreSeparation{
        width: 100%;
        text-align: center;
        border-top: 3px double #000;
    }
}